[Desktop Entry]
Icon=application-x-uml
Name=aravind bank.xmi
Type=Link
URL[$e]=file://$HOME/Documents/aravind%20bank.xmi
X-KDE-LastOpenedWith=umbrello
